@use '../abstracts/' as *;

.header {
    position: relative;
    height: 85vh;
    background: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
                url(../img/hero-small.jpg);
    background-size: cover;

    @supports (clip-path: polygon(0 0)) {
        height: 95vh;
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    }

    @include mq(mobile) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
    }
    
    @media only screen and (min-resolution: 192dpi) and (min-width: 40em),
           only screen and (min-width: 125em) {
        background: linear-gradient(to right bottom,
                    rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
                    url(../img/hero.jpg);
    }

    &__logo-box {
        position: absolute;
        top: 3.5rem;
        left: 3.5rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
    }
}