@use '../abstracts/' as *;

.btn {
    &,
    &:link,
    &:visited {
        position: relative;
        display: inline-block;
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        transition: all .2s linear;

        // change for <button>
        font-size: inherit;
        font-family: inherit;
        text-decoration: none;
        border: none;
        cursor: pointer;

        @include mq(tablet) {
            padding: 1.25rem 2.75rem;
        }
    }
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);

        &::after {
            transform: scale(1.4 , 1.5);
            opacity: 0;
        }
    }
    &:active{
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-1px);
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        background-color: inherit;
        transition: all .4s ease-out;
    }
    &--white {
        color: #777;
        background: #fff;
    }
    &--green {
        color: #fff;
        background: $color-primary;
    }
    &--animated {
        animation: moveInBottom 1s ease-out;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    display: inline-block;
    padding: .4rem;
    border-bottom: .2rem solid $color-primary;
    color: $color-primary;
    font-size: 1.6rem;
    text-decoration: none;
    &:hover {
        background: $color-primary;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
        transition: all .2s ease-out;
    }
    &:active {
        transform: translateY(-1px);
    }
}