@use '../abstracts/' as *;

.form {
    &__group {
        position: relative;
    }
    
    &__group:not(:last-child) {
        margin-bottom: 1.8rem;
    }
    
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        width: 90%;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 3px;
        overflow: hidden;
        transition: all .2s ease-out;
    
        &::placeholder {
            color: $color-grey-dark;
        }
        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 .5rem 2rem rgba(0,0,0, .1);
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        @include mq(tablet) {
            width: 100%
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__label {
        display: inline-block;
        padding-left: 2rem;
        color: $color-grey-dark;
        transition: all .2s ease-out;
    }
    
    &__radio-group {
        display: inline-block;
        width: 49%;

        @include mq(tablet) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-input {
        display: none;
    
        &:checked ~ label .form__radio-btn::after {
            background: $color-primary;
        }
    }

    &__radio-label {
        cursor: pointer;
    }
    
    &__radio-btn {
        position: relative;
        display: inline-block;
        margin-right: 1.5rem;
        @include box(2.8rem);
        border-radius: 50%;
        border: 5px solid $color-primary;
        vertical-align: middle;
    
        &::after {
            @include pseudo(80%);
            @include absolute-center(both);
            background: transparent;
            border-radius: 50%;
        }
    }
}
