@use '../abstracts/' as *;

.popup {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: map-get($z-index, popup);
    @include box(100%, 100vh);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__content {
        position: fixed;
        top: 50%;
        left: 50%;
        display: table;
        width: 75%;
        box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
        border-radius: 3px;
        background: #fff;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -50%) scale(.4);
        transition: all .2s linear;

        &--left {
            display: table-cell;
            width: 33.333333%;
            vertical-align: middle;

            @include mq(tablet) {
                display: none;
            }
        }
        &--right {
            position: relative;
            display: table-cell;
            width: 66.666667%;
            padding: 3rem;
            vertical-align: middle;
        }
    }

    &__img {
        display: block;
        width: 100%;

        &:first-child {
            @include mq(desktop) {
                margin-bottom: 9px;
            }
        }
    }
    
    &__text {
        font-size: 1.2rem;
        text-align: left;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #ccc;
        hyphens: auto;

        @include mq(desktop) {
            font-size: 1.33rem;
            column-count: 1;
        }
    }

    &__close {
        &:link,
        &:visited {
            display: inline-block;
            @include absolute(tr, 2rem, 2rem);
            color: $color-grey-dark;
            font-size: 3rem;
            font-family: inherit;
            text-decoration: none;
            line-height: 1;
        }
        &:hover {
            color: $color-primary;
        }
    }
}