@use '../abstracts/' as *;

@keyframes moveInRight {
    0% { 
        transform: translateX(-5rem); opacity: 0;
    }
    80% { 
        transform: translateX(1rem);
    }
    100% { 
        transform: translateX(0rem); opacity: 1;
    }
}

@keyframes moveInLeft {
    0% { 
        transform: translateX(5rem); opacity: 0;
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0rem); opacity: 1;
    }
}

@keyframes moveInBottom {
    0% { 
        transform: translateY(3rem); 
    }
    100% { 
        transform: translateY(0); 
    }
}