@use '../abstracts/' as *;

*,
*::before,
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}
html {
    
    font-size: 62.5%;

    @include mq(desktop) {
        font-size: 56.25%;
    }

    @include mq(tablet) {
        font-size: 50%;
    }
}

body {
    position: relative;
    padding: 3rem;
    box-sizing: border-box;
    color: #777;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;

    @include mq(tablet) {
        padding: 0;
    }
}

::selection {
    color: #fff;
    background-color: $color-primary;
}