@use '../abstracts/' as *;

.heading-primary {
    padding-bottom: 4.5rem;
    backface-visibility: hidden;
    text-transform: uppercase;

    &--main {
        display: inline-block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        transform: translateX(-5rem);
        animation: moveInRight 1s .1s forwards;

        @include mq(mobile) {
            font-size: 4rem;
            letter-spacing: 2rem;
        }
    }
    &--sub {
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        transform: translateX(5rem);
        animation: moveInLeft 1s .1s forwards;

        @include mq(mobile) {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: $color-primary;
    
    @supports (background-clip: text) {
        color: transparent;
        background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
    }

    &:hover {
        transform: skewY(4deg) scale(1.1);
        text-shadow: 0 1rem 2rem rgba(0,0,0, 20%);
    }

    @include mq(mobile) {
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.paragraph {
    line-height: 1.7;
}