@use '../abstracts/' as *;

/*--------- CONTAINER ---------*/
.container {
    display: flex;
    max-width: 114rem;
    margin: 0 auto;

    & > * {
        flex: 1;
    }

    & > * + * {
        margin: 0 0 0 6rem;
    }

    @include mq (tablet) {
        max-width: 50rem;
        padding: 3rem;
        flex-direction: column;
        
        & > * + * {
            margin: 6rem 0 0 0;
        }
    }
}

/*--------- ABOUT SECTION ---------*/
.section-about {
    padding: 25rem 0;
    background: $color-grey-light;
    margin-top: -20vh;
}

/*--------- FEATURES SECTION ---------*/
.section-features {
    margin-top: -10rem;
    padding: 20rem 0;
    background: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    transform: skewY(-7deg);

    & > .container {
        transform: skewY(7deg);
    }
}

.feature-box {
    padding: 2.5rem;
    border-radius: 3px;
    background: $color-grey-light;
    text-align: center;
    transition: all .2s ease-out;
    
    &__icon {
        margin-bottom: 1rem;
        display: inline-block;
        
        color: $color-primary;
        font-size: 6rem;
        line-height: 1.8;
        
        @supports (background-clip: text) {
            color: transparent;
            background-image: linear-gradient(to right bottom,
                              rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
            background-clip: text;
        }
    }
    
    &:hover {
        transform: translateY(-2rem) scale(1.05);
    }
}

/*--------- TOURS SECTION ---------*/
.section-tours {
    margin-top: -10rem;
    padding: 25rem 0 15rem 0;
    background: $color-grey-light;
    text-align: center;
}

/*--------- STORIES SECTION ---------*/
.section-stories {
    position: relative;
    padding: 15rem 0;
    overflow: hidden;

    & > .container {
        flex-direction: column;
    }
}

.story-box {
    width: 70%;
    margin: 0 auto;
    transform: skewX(-12deg);

    @include mq(tablet) {
        width: 100%;
        transform: skewX(0deg);
    }
}

.story {
    padding: 6rem;
    padding-left: 9rem;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);

    @include mq(mobile) {
        padding-left: 6rem;
    }

    &:hover &__img {
        transform: translateX(-3.5rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
    &:hover &__caption {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
    &__shape {
        position: relative;
        @include box(15rem);
        // shape-outside only works with floats & element must have a defined height & width ↓
        float: left;
        
        overflow: hidden;
        // best way for making space besides floating elements is by using translate ↓
        transform: skewX(12deg) translateX(-3rem);

        @supports (clip-path: polygon(0 0)) {
            shape-outside: circle(50%);
            clip-path: circle(50% at 50% 50%);
        }
        
        @include mq(tablet) {
            transform: translateX(-3rem);
        }

        @include mq(mobile) {
            float: none;
            transform: none;
            margin: 0 auto 2rem auto;
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-3.5rem) scale(1.3);
        transition: all .4s ease-out;
        backface-visibility: hidden;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: all .4s linear;
        backface-visibility: hidden;
    }
    &__text {
        transform: skewX(12deg);

        @include mq(tablet) {
            transform: skewX(0deg);
        }
    }
}

/*--------- BOOKING SECTION ---------*/
.section-book {
    padding: 15rem 0;
    background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book-box {
    background: linear-gradient(105deg,
            rgba(255, 255, 255, 0.85) 50%, transparent 50%) ,
            url(../img/nat-10.jpg);
            // translates to white from 0 % to 50%, & transparent form 50% to 100%
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;

    @include mq(tablet) {
       background: linear-gradient(105deg,
       rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%) ,
       url(../img/nat-10.jpg);;
    }  
}

.book-form {
    position: relative;
    padding: 6rem;
    width: 50%;

    @include mq(tablet) {
        width: 100%
    }
}